{
  "openapi": "3.0.3",
  "info": {
    "title": "Kroger API Reference",
    "description": "# Introduction\nPartner APIs enable official partners to access strategic functionality and data. Since the needs of our partners determine our Partner APIs, they are not open for public consumption.\n<br><br>\nAll Partner APIs provide access to the following Kroger subsidiaries:\n<ul>\n<li>Kroger</li>\n<li>Bakers</li>\n<li>City Market</li>\n<li>Dillons</li>\n<li>Food 4 Less</li>\n<li>Foods Co</li>\n<li>Fred Meyer</li>\n<li>Fry's</li>\n<li>Gerbes</li>\n<li>JayC</li>\n<li>King Soopers</li>\n<li>Metro Market</li>\n<li>Owen's</li>\n<li>Pay Less</li>\n<li>Pick 'n Save</li>\n<li>QFC</li>\n<li>Ralphs</li>\n<li>Smith's</li>\n</ul>\n<br><br>\nTo begin using our Public APIs, see the <a href=\"https://developer.kroger.com/documentation/partner\">Getting Started</a> documentation.  \n\n# Environments \n\nDuring registration, we require apps to be registered for environments individually. Use one of the following paths based on the environment you selected for your application during the registration process.\n\n| Environment | Path |\n|-------------|------|\n|Production | https://api.kroger.com/v1/ |\n|Certification | https://api-ce.kroger.com/v1/ |\n\n# Authentication \nFor API authentication, Kroger uses the OAuth2 protocol ([RFC6749](https://tools.ietf.org/html/rfc6749)), \nsupporting the Authorization Code, Client Credentials, and Refresh Token grant types. If you're unfamiliar \nwith OAuth2, see our [Understanding OAuth2](https://developer.kroger.com/documentation/partner/guides/guides-oauth)\n documentation.\n\n\n<!-- ReDoc-Inject: <security-definitions> -->\n",
    "termsOfService": "https://developer.kroger.com/terms",
    "contact": {
      "name": "API Support",
      "email": "APISupport@kroger.com"
    },
    "version": "1.2.1"
  },
  "servers": [
    {
      "url": "https://api.kroger.com/v1",
      "description": "Production Environment"
    },
    {
      "url": "https://api-ce.kroger.com/v1",
      "description": "Certification Environment"
    }
  ],
  "security": [
    {
      "CustomerContext": [
        "profile.name",
        "profile.basic",
        "profile.full",
        "profile.loyalty",
        "product.basic",
        "product.personalized",
        "cart.basic",
        "cart.basic:rw",
        "urn:com:kroger:partner:catalog:products:read",
        "urn:com:kroger:partner:unattended-pickup:order-events:write"
      ]
    },
    {
      "ClientContext": [
        "profile.exists",
        "product.basic",
        "delivery.basic",
        "delivery.basic:rw",
        "urn:com:kroger:partner:catalog:products:read",
        "urn:com:kroger:partner:order:checkout:write",
        "urn:com:kroger:partner:unattended-pickup:order-events:write"
      ]
    }
  ],
  "tags": [
    {
      "name": "Identity",
      "description": "The Identity API provides access to the profile information of an authenticated\nKroger customer. <br><br>The Identity API supports the following operations: <br>\n<table>\n<tr>\n  <th>Name</th>\n  <th>Method</th>\n  <th>Description</th>\n</tr>\n<tr>\n  <td>Profile information</td>\n  <td>GET</td>\n  <td>Returns a customer's full profile.</td>\n</tr>\n<tr>\n  <td>Profile query</td>\n  <td>GET</td>\n  <td>Determines if a customer's profile exist by email address.</td>\n</tr>\n<tr>\n  <td>Profile query</td>\n  <td>HEAD</td>\n  <td>Determines if a customer's profile exist by email address.</td>\n</tr>\n<tr>\n  <td>Profile loyalty information</td>\n  <td>GET</td>\n  <td>Returns a customer's loyalty card number.</td>\n</tr>\n</table>\n"
    },
    {
      "name": "Products",
      "description": "The Products API allows you to search the Kroger product catalog. \n\n### Pagination\n\nThe Product Search operation supports pagination with a default value of 10 results per page. Using the following parameters, you can extend and skip results in the response:\n\n`filter.limit` - Sets a limit on the number of products returned.<br>\n`filter.start` - Sets a number of results to skip in the response. \n\n**Note**: Since searching by a term acts as a fuzzy search, the order of the results can change with each new request.  \n\n### API Operations\n\nThe Products API supports the following operations: <br>\n<table>\n<tr>\n    <th>Name</th>\n    <th>Method</th>\n    <th>Description</th>\n</tr>\n<tr>\n    <td>Product search</td>\n    <td>GET</td>\n    <td>Allows you to find products by passing in either a search term or product Id.</td>\n</tr>\n<tr>\n    <td>Product details</td>\n    <td>GET</td>\n    <td>Returns product details for a specific product.</td>\n</tr>\n</table><br><br>\n\n### Additional Response Data \n\nTo return the following data from the `/products` endpoint, you must include a <code>locationId</code> in the request. All operations for the products endpoint accept the <code>filter.locationId</code> query parameter.<br><br>\n<ul>\n<li>Price<br><br>Returns the following price objects:<br><br><code>price</code> - Includes both the <code>regular</code> price of the item and the <code>promo</code> price of the item.<br><code>nationalPrice</code> - Includes both the <code>regular</code> national price of the item and the national <code>promo</code> price of the item.<br><br><b>Note</b>: Seasonal products only return a price when available. Some items may not have a national prices available.</li><br>\n\n<li>Fulfillment Type<br><br>Returns the following boolean objects to indicate an item's fulfillment availability:<br><br><code>instore</code> - The item is sold in store at the given location.<br><code>shiptohome</code> - The item is available to be shipped to home.<br><code>delivery</code> - The item is available for delivery from the given location.<br><code>curbside</code> - The item is available for curbside pickup from the given location.<br><br> <b>Note</b>: The <code>instore</code> fulfillment type only indicated that the item is sold by the given location, not that it is in stock.</li><br>\n\n<li>Aisle Locations<br><br>Returns the aisle locations of the item for the given location.</li><br>\n\n<li>Inventory<br><br>Returns the <code>stockLevel</code> of the item. This property is omitted when unavailable:<br><br><code>HIGH</code> - The stock level is high.<br><code>LOW</code> - The stock level is low.<br><code>TEMPORARILY_OUT_OF_STOCK</code> - The item is temporarily out of stock.</li>\n</ul>\n"
    },
    {
      "name": "Locations",
      "description": "The Locations API provides access to all locations, chains, and departments \nthat are owned by The Kroger Co. <br><br>The Locations API \nsupports the following operations: <br>\n<table>\n<tr>\n  <th>Name</th>\n  <th>Method</th>\n  <th>Description</th>\n</tr>\n<tr>\n  <td>Location list</td>\n  <td>GET</td>\n  <td>Returns a list of locations matching a given criteria.</td>\n</tr>\n<tr>\n  <td>Location details</td>\n  <td>GET</td>\n  <td>Returns the details of a specific location.</td>\n</tr>\n<tr>\n  <td>Location query</td>\n  <td>HEAD</td>\n  <td>Determines if a specific location exists.</td>\n</tr>\n<tr>\n  <td>Chain list</td>\n  <td>GET</td>\n  <td>Returns a list of all chains owned by The Kroger Co.</td>\n</tr>\n<tr>\n  <td>Chain details</td>\n  <td>GET</td>\n  <td>Returns the details of a specific chain.</td>\n</tr>\n<tr>\n  <td>Chain query</td>\n  <td>HEAD</td>\n  <td>Determines if a specific chain exists.</td>\n</tr>\n<tr>\n  <td>Department list</td>\n  <td>GET</td>\n  <td>Returns a list of all departments for a specific location.</td>\n</tr>\n<tr>\n  <td>Department details</td>\n  <td>GET</td>\n  <td>Returns the details of a specific department.</td>\n</tr>\n<tr>\n  <td>Department query</td>\n  <td>HEAD</td>\n  <td>Determines if a specific department exists.</td>\n</tr>\n</table>\n"
    },
    {
      "name": "Carts",
      "description": "The Carts API provides access to create, view, and update a customer's cart. <br><br>\nThe Carts API supports the following operations: <br>\n<table>\n<tr>\n  <th>Name</th>\n  <th>Method</th>\n  <th>Description</th>\n</tr>\n<tr>\n  <td>User cart list</td>\n  <td>GET</td>\n  <td>Returns a list of carts for a specific customer.</td>\n</tr>\n<tr>\n  <td>Create a cart</td>\n  <td>POST</td>\n  <td>Creates a cart for a customer.</td>\n</tr>\n<tr>\n  <td>Cart by ID</td>\n  <td>GET</td>\n  <td>Returns a specific cart by ID.</td>\n</tr>\n<tr>\n  <td>Update cart</td>\n  <td>PUT</td>\n  <td>Updates an item in a customer's cart.</td>\n</tr>\n<tr>\n  <td>Add to cart</td>\n  <td>POST</td>\n  <td>Adds an item to a customer's cart.</td>\n</tr>\n<tr>\n  <td>Update item quantity</td>\n  <td>PUT</td>\n  <td>Updates an item in a customer's cart.</td>\n</tr>\n<tr>\n  <td>Delete item</td>\n  <td>DELETE</td>\n  <td>Deletes an item from a customer's cart.</td>\n</tr>\n</table>\n"
    },
    {
      "name": "Catalog",
      "description": "The Catalog API allows you to access Kroger's product catalog data. The catalog can be customized for clients based on their needs and requirements.<br><br>\nProduct search supports <code>pagination</code> with a default value of <code>20</code> results per page. \nUsing the following parameters in the request, you can configure the <code>size</code> and <code>offset</code> of the response:<br><br>\n  <li><code>page.size</code> - Sets a number of products to be listed in the response.<br></li>\n  <li><code>page.offset</code> - Sets a number of products to skip in the response.</li><br><br>\n  \n  Use <code>projections</code> based on the depth of information required. The default value is products.compact.\n<ul><li><code>products.full</code>-The\nentire details about a product\nincluding the category and store specific details\nis returned such as price and location</li><br>  <li><code>products.compact</code>-The\nminimum viable\ndetails required for a product is returned such as name, barcodes/upc, images, status, soldBy, etc.</li></ul><br><br>\n\n### API Operations\nThe Catalog API supports the following operations:\n<table>\n  <tr>\n    <th>Name</th>\n    <th>Method</th>\n    <th>Description</th>\n  </tr>\n  <tr>\n    <td>Product Search</td>\n    <td>GET</td>\n    <td> Returns the list of products matching a given criteria.</td>\n  </tr></table><br>\n"
    },
    {
      "name": "Catalog V2",
      "description": "The Catalog V2 API allows you to access Kroger's catalog data. The catalog can be customized for clients based on their needs and requirements.<br><br>\n### <b>Pagination</b>\nProduct search supports <code>pagination</code> with a default value of <code>20</code> results per page. \nUsing the following parameters in the request, you can configure the <code>size</code> and <code>offset</code> of the response:<br><br>\n  <li><code>page.size</code> - Sets a number of products to be listed in the response.<br></li>\n  <li><code>page.offset</code> - Sets a number of products to skip in the response.</li><br><br></li></ul><br><br>\n\n### API Operations\n \n<table>\n<tr>\n  <th>Name</th>\n  <th>Method</th>\n  <th>Description</th>\n</tr>\n<tr>\n  <td>Catalog Search</td>\n  <td>GET</td>\n  <td>Returns a list of products and their core information.</td>\n</tr>\n<tr>\n  <td>Catalog Inventory</td>\n  <td>GET</td>\n  <td>Returns inventory details for one or more products.</td>\n</tr>"
    },
    {
      "name": "Deliveries",
      "description": "The Deliveries API provides access to both a list of deliveries and the \nability to update a delivery. <br><br>The Deliveries API \nsupports the following operations: <br>\n<table>\n<tr>\n  <th>Name</th>\n  <th>Method</th>\n  <th>Description</th>\n</tr>\n<tr>\n  <td>Get deliveries</td>\n  <td>GET</td>\n  <td>Returns a list of deliveries by actions.</td>\n</tr>\n<tr>\n  <td>Get non-deliveries</td>\n  <td>POST</td>\n  <td>Returns a list of outstanding deliveries.</td>\n</tr>\n<tr>\n  <td>Update delivery</td>\n  <td>POST</td>\n  <td>Updates a delivery by ID.</td>\n</tr>\n</table>\n"
    },
    {
      "name": "OAuth2",
      "description": "## Client Credentials Grant\nWhen using the Client Credentials grant type, you can use your application's \nclient credentials as a form of authentication. If you are making a request to an API \nthat requires an OAuth2 scope, the scope must be included in the token request.\n\n## Authorization Code Grant\nTo authenticate a customer and act on their behalf, your application \nmust be able to perform both of the following steps of the Authorization Code grant.\n\n#### 1. Get an Authorization Code\nTo receive an authorization code, you must redirect the \ncustomer from your application to the [authorization code](#operation/authorizationCode) endpoint with the \nappropriate query parameters. After the customer has given consent, they are redirected \nback to your application's registered redirect URL with an authorization code appended as `code`. \n\n#### 2. Get an Access Token \nOnce you have obtained the authorization code from the redirect URL, you need to make an\n[access token request](#operation/accessToken) with the authorization code in the body. The token \nresponse includes both an access and refresh token. \n\n## Refresh Token Grant\nWhen the access token from the Authorization Code grant expires, you can make another \n[access token request](#operation/accessToken) using the Refresh Token grant type. \nThe token response includes both a new access and refresh token.\n\n## Authorization Header\nWhen making an access token request, the authorization header must be in the following form, where \nyour `client_id` and `client_secret` are joined by a single colon and base64 encoded.\n\n```json\nAuthorization: Basic {{base64(client_id:client_secret)}}\n``` \n\nThe following is an example of a base64 encoded header:\n\n```json\nAuthorization: Basic Y2xpZW50X2lkOmNsaWVudF9zZWNyZXQ=\n```\n"
    },
    {
      "name": "Ship Order",
      "description": "The Ship Order API provides a way for a partner to submit a paid order for Kroger to ship in two steps:\n1. Get the amount of tax to charge on the order by using the POST endpoint with the `option.calculate` parameter.\n1. After the consumer has charged the customer (including the correct tax amount from step 1), create an order \nfor Kroger to ship by using the POST endpoint with no parameters.\n"
    },
    {
      "name": "Locker Pickup",
      "description": "The Locker Pickup API provides an interface for locker vendors to send status updates for unattended pickup orders to Kroger. This API supports the following operations:<br><br>The Lockers API \nsupports the following operations: <br>\n<table>\n<tr>\n  <th>Name</th>\n  <th>Method</th>\n  <th>Description</th>\n</tr>\n<tr>\n  <td>Update locker order</td>\n  <td>POST</td>\n  <td>Partners can pass the locker order status to Kroger.</td>\n</tr>\n</table>\n"
    }
  ],
  "paths": {
    "/partner/catalog/products": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Catalog Search",
        "description": "Search the product catalog based upon specified criteria. Available parameters depend upon the type of location being searched and the modality. The two supported types of locations are as follows: <ul><li>Stores: Physical locations that customers are able to visit.</li><li>Distribution Centers: Locations that provide delivery services only with no customer access.</li></ul><br>The four supported modalities are as follows: <ul><li>DELIVERY: when items are delivered by a Kroger or partner delivery service that can safely deliver perishable goods.</li><li>SHIP: when non-perishable items are delivered via a shipping service.</li><li>PICK_UP: when the order is picked at a Kroger location and the customer picks it up from that location.</li><li>IN_STORE: when customers visit a store in person and pick their items, check out, and take their items home.</li></ul>\n<h3>Stores catalog:</h3><table border=1><th align=center><font size=+0>Available Filters</font></th><th align=center><font size=+0>Supported Operators</font></th><th align=center><font size=+0>DELIVERY</font></th><th align=center><font size=+0>SHIP / PICK_UP / IN_STORE</font></th><tr><td align=center><font size=+0>filter.name </font></td><td align=center><font size=+0>eq, like</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>No</font><tr><td align=center><font size=+0>filter.barcodes</font></td><td align=center><font size=+0>eq</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>No</font></td></tr><tr><td align=center><font size=+0>filter.storeId</font></td><td align=center><font size=+0>eq</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>Yes</font></td></tr><tr><td align=center><font size=+0>filter.primaryCategoryId</font></td><td align=center><font size=+0>eq</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>No</font></td></tr><tr><td align=center><font size=+0>filter.krogerId</font></td><td align=center><font size=+0>eq, in</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>Yes</font></td></tr></tr><tr><td align=center><font size=+0>filter.status</font></td><td align=center><font size=+0>eq</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>Yes</font></td></tr><tr><td align=center><font size=+0>filter.modality</font></td><td align=center><font size=+0>eq</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>Yes</font></td></tr><tr><td align=center><font size=+0>filter.updatedAt</font></td><td align=center><font size=+0>range</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>No</font></td></tr></table><br><b><h3>Distribution centers catalog:</h3></b><table border=1><th align=center><font size=+0>Available Filters</font></th><th align=center><font size=+0>Supported Operators</font></th><th align=center><font size=+0>DELIVERY</font></th><th align=center><font size=+0>SHIP / PICK_UP / IN_STORE</font></th><tr><td align=center><font size=+0>filter.postalCode</font></td><td align=center><font size=+0>eq, in</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>No</font></td></tr><tr><td align=center><font size=+0>filter.storeId</font></td><td align=center><font size=+0>eq</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>No</font></td></tr><tr><td align=center><font size=+0>filter.krogerId</font></td><td align=center><font size=+0>eq, in</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>No</font></td></tr></tr><tr><td align=center><font size=+0>filter.modality</font></td><td align=center><font size=+0>eq</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>No</font></td></tr><tr><td align=center><font size=+0>filter.updatedAt</font></td><td align=center><font size=+0>range</font></td><td align=center><font size=+0>Yes</font></td><td align=center><font size=+0>No</font></td></tr></table> <br> <b>Note:</b> filter.postalCode, filter.storeId and filter.modality are mandatory filters for distribution centers catalog.",
        "parameters": [
          {
            "$ref": "#/components/parameters/catalog.productProjections"
          },
          {
            "name": "filter.name.eq",
            "in": "query",
            "description": "Exact match to product name. (When filter.modality is set to DELIVERY.)",
            "example": "Paper Pencil Plastic Wrap",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.name.like",
            "in": "query",
            "description": "All products containing substring in their product name will be returned. (When filter.modality is set to DELIVERY.)",
            "example": "%Paper Pencil Plastic Wrap%",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.barcodes.eq",
            "in": "query",
            "description": "Exact match of barcode. (When filter.modality is set to DELIVERY.)",
            "example": "0005508600241",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.storeId.eq",
            "in": "query",
            "description": "Exact match to the 8-character storeId. When using this filter, only products available at that store are returned. <br><br>This is required if PICK_UP, DELIVERY, or IN_STORE modality is used.<br><br> <b>Note</b> - A maximum of 20 store details (in descending order of store id) will be returned by default in the full projection when storeId isn't given in the request.",
            "schema": {
              "type": "string",
              "example": 70100485,
              "minLength": 8,
              "maxLength": 8
            }
          },
          {
            "name": "filter.postalCode.eq",
            "in": "query",
            "description": "Exact match to postal code or ZIP code.(When filter.modality is set to DELIVERY for distribution centers.) <br><br> This is required when requesting DELIVERY from distribution centers. <br><br><b>Note:</b> For US addresses, 5-digit or 9-digit ZIP+4 are supported.",
            "schema": {
              "type": "string",
              "example": "45402"
            }
          },
          {
            "name": "filter.postalCode.in",
            "in": "query",
            "description": "Exact match to each of the postal codes or ZIP codes in a comma separated list.(When filter.modality is set to DELIVERY for distribution centers.) <br><br>Max Allowed: 100 for distribution centers DELIVERY store products<br><br> This is required when requesting DELIVERY from distribution centers. <br><br><b>Note:</b> For US addresses, 5-digit or 9-digit ZIP+4 are supported.",
            "schema": {
              "format": "comma-separated",
              "type": "string",
              "maximum": 20,
              "example": 4540232789
            }
          },
          {
            "name": "filter.primaryCategoryId.eq",
            "in": "query",
            "description": "Exact match of the category identifier. (When filter.modality is set to DELIVERY.)",
            "schema": {
              "type": "string",
              "example": 5
            }
          },
          {
            "name": "filter.krogerId.eq",
            "in": "query",
            "description": "Exact match to product identifier, typically UPC or GTIN.",
            "schema": {
              "type": "string",
              "example": "0001629144204"
            }
          },
          {
            "name": "filter.krogerId.in",
            "in": "query",
            "description": "Exact match to each product identifier in a comma separated list, typically UPCs or GTINs.<br><br>Max Allowed for DELIVERY: 100<br><br>Max Allowed for PICK_UP, IN_STORE, and SHIP: 50",
            "schema": {
              "type": "string",
              "format": "comma-separated",
              "maximum": 20,
              "example": "0001629144204,0066931606906"
            }
          },
          {
            "name": "filter.status.eq",
            "in": "query",
            "description": "Exact match to product status.",
            "schema": {
              "type": "string",
              "enum": [
                "ENABLED",
                "DISABLED"
              ],
              "example": "ENABLED"
            }
          },
          {
            "name": "filter.modality.eq",
            "in": "query",
            "description": "Exact match to product fulfillment option.",
            "schema": {
              "type": "string",
              "enum": [
                "DELIVERY",
                "SHIP",
                "PICK_UP",
                "IN_STORE"
              ],
              "example": "DELIVERY"
            }
          },
          {
            "name": "filter.updatedAt.range",
            "in": "query",
            "description": "Products updated between specified dates (inclusive). (When filter.modality is set to DELIVERY.)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2020-04-16T13:26:12.008Z,2020-04-19T13:26:12.008Z"
            }
          },
          {
            "$ref": "#/components/parameters/catalog.offset"
          },
          {
            "$ref": "#/components/parameters/catalog.size"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/catalog.productsResponseModel"
                },
                "examples": {
                  "Delivery (Stores) - products.full": {
                    "$ref": "#/components/examples/get.delivery.products.full"
                  },
                  "Delivery (Stores) - products.compact": {
                    "$ref": "#/components/examples/get.delivery.products.compact"
                  },
                  "Ship - products.full": {
                    "$ref": "#/components/examples/get.ship.products.full"
                  },
                  "Ship - products.compact": {
                    "$ref": "#/components/examples/get.ship.products.compact"
                  },
                  "Pickup - products.full": {
                    "$ref": "#/components/examples/get.pickup.products.full"
                  },
                  "Pickup - products.compact": {
                    "$ref": "#/components/examples/get.pickup.products.compact"
                  },
                  "InStore - products.full": {
                    "$ref": "#/components/examples/get.instore.products.full"
                  },
                  "InStore - products.compact": {
                    "$ref": "#/components/examples/get.instore.products.compact"
                  },
                  "Delivery (Distribution Centers) - products.full": {
                    "$ref": "#/components/examples/get.ocadostores.delivery.products.full"
                  },
                  "Delivery (Distribution Centers) - products.compact": {
                    "$ref": "#/components/examples/get.ocadostores.delivery.products.compact"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/catalog.clientError.400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/catalog.serverError.500"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "urn:com:kroger:partner:catalog:products:read"
            ]
          },
          {
            "ClientContext": [
              "urn:com:kroger:partner:catalog:products:read"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X GET \\\n'https://api.kroger.com/v1/partner/catalog/products' \\\n-H 'Content-Type: application/x-www-form-urlencoded' \\\n-H 'Authorization: Bearer {{TOKEN}}' \\\n"
          },
          {
            "lang": "Go",
            "source": "package main\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\nfunc main() {\n  url := \"https://api.kroger.com/v1/partner/catalog/products\"\n  req, _ := http.NewRequest(\"GET\", url, nil)\n  req.Header.Add(\"Content-Type\", \"application/x-www-form-urlencoded\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n  res, _ := http.DefaultClient.Do(req)\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n  fmt.Println(res)\n  fmt.Println(string(body))\n}\n"
          },
          {
            "lang": "Java",
            "source": "import okhttp3.*;\nimport java.io.*;\npublic class Test {\n  public static void main(String[] args) {\n    OkHttpClient client = new OkHttpClient();\n    Request request = new Request.Builder().url(\"https://api.kroger.com/v1/partner/catalog/products\").get()\n    .addHeader(\"Content-Type\", \"application/x-www-form-urlencoded\")\n    .addHeader(\"Authorization\",\"Bearer {{TOKEN}}\")\n    .build();\n    try {\n      ResponseBody responseBody = client.newCall(request).execute().body();\n      System.out.println(responseBody.string());\n    } catch (IOException e) {\n      System.out.println(e.getMessage());\n    }\n  }\n}\n"
          },
          {
            "lang": "NodeJs",
            "source": "const axios = require('axios');\nlet config = {\n  headers: {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Authorization\": \"Bearer {{TOKEN}}\",\n  },\n}\naxios.get('https://api.kroger.com/v1/partner/catalog/products',config)\n.then(response => {\n    console.log(response);\n})\n.catch(error => {\n    console.log(error);\n});\n"
          }
        ]
      }
    },
    "/connect/oauth2/authorize": {
      "get": {
        "tags": [
          "OAuth2"
        ],
        "summary": "Authorization Code",
        "description": "The redirect URL to authenticate a customer and receive an authorization code.",
        "operationId": "authorizationCode",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "The level of access your application is requesting.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "profile.name",
                "profile.basic",
                "profile.loyalty",
                "profile.full",
                "product.personalized",
                "cart.basic",
                "cart.basic:rw"
              ]
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "Your application's client ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "description": "Your registered redirect URL. The redirect URL is used by the server to redirect the web browser with the authorization  code once the customer has given consent.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "description": "Is always `code`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "A random string to verify that the response belongs to the initiated  request. The server should always return the same state as the one specified in  the request to protect against forgery attacks.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "301": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/oauth2.codeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Invalid_scope"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_grant_type"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_redirect_uri"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_access"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_credentials"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.auth.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "profile.name",
              "profile.basic",
              "profile.loyalty",
              "profile.full",
              "product.personalized",
              "cart.basic",
              "cart.basic:rw"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "html",
            "source": "https://api.kroger.com/v1/connect/oauth2/authorize?scope={{SCOPES}}&response_type=code&client_id={{CLIENT_ID}}&redirect_uri={{REDIRECT_URI}}\n"
          }
        ]
      }
    },
    "/connect/oauth2/token": {
      "post": {
        "tags": [
          "OAuth2"
        ],
        "summary": "Access Token",
        "description": "The OAuth2 endpoint that provides access tokens.",
        "operationId": "accessToken",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Your `client_id:client_secret` base64 encoded.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/client_credentials"
                  },
                  {
                    "$ref": "#/components/schemas/authorization_code"
                  },
                  {
                    "$ref": "#/components/schemas/refresh_token"
                  }
                ],
                "discriminator": {
                  "propertyName": "grant_type"
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/client_credentialsResponse"
                    },
                    {
                      "$ref": "#/components/schemas/authorization_codeResponse"
                    },
                    {
                      "$ref": "#/components/schemas/refresh_tokenResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Invalid_code"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_scope"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_grant_type"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_refresh_token"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_credentials"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.auth.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "profile.name",
              "profile.basic",
              "profile.full",
              "profile.loyalty",
              "product.basic",
              "product.personalized",
              "cart.basic",
              "cart.basic:rw"
            ]
          },
          {
            "ClientContext": [
              "profile.exists",
              "product.basic",
              "delivery.basic",
              "delivery.basic:rw"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X POST \\\n  'https://api.kroger.com/v1/connect/oauth2/token' \\\n  -H 'Content-Type: application/x-www-form-urlencoded' \\\n  -H 'Authorization: Basic {{base64(“CLIENT_ID:CLIENT_SECRET”)}}' \\\n  -d 'grant_type=client_credentials&scope={{SCOPE}}'\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"strings\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/connect/oauth2/token\"\n\n  payload := strings.NewReader(\"grant_type=client_credentials&scope={{SCOPE}}\")\n\n  req, _ := http.NewRequest(\"POST\", url, payload)\n\n  req.Header.Add(\"Content-Type\", \"application/x-www-form-urlencoded\")\n  req.Header.Add(\"Authorization\", \"Basic {{base64(“CLIENT_ID:CLIENT_SECRET”)}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/connect/oauth2/token\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Authorization\": \"Basic {{base64(“CLIENT_ID:CLIENT_SECRET”)}}\"\n  },\n  \"data\": {\n    \"grant_type\": \"client_credentials\",\n    \"scope\": \"{{scope}}\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/x-www-form-urlencoded\");\nRequestBody body = RequestBody.create(mediaType, \"grant_type=client_credentials&scope={{SCOPE}}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.kroger.com/v1/connect/oauth2/token\")\n  .post(body)\n  .addHeader(\"Content-Type\", \"application/x-www-form-urlencoded\")\n  .addHeader(\"Authorization\", \"Basic {{base64(“CLIENT_ID:CLIENT_SECRET”)}}\")\n  .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ]
      }
    },
    "/identity/profile": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Profile information",
        "description": "Provides access to an authenticated customer's profile information. \n<br><br> **Note**: the customer must be authenticated using the OAuth2 Authorization \nCode grant type.\n",
        "operationId": "profileGet",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/identity.profileModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.notFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.identity.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "profile.name",
              "profile.basic",
              "profile.full",
              "profile.loyalty"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X GET \\\n  'https://api.kroger.com/v1/identity/profile' \\\n  -H 'Accept: application/json' \\\n  -H 'Authorization: Bearer {{TOKEN}}'\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/identity/profile\"\n\n  req, _ := http.NewRequest(\"GET\", url, nil)\n\n  req.Header.Add(\"Accept\", \"application/json\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/identity/profile\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Authorization\": \"Bearer {{TOKEN}}\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.kroger.com/v1/identity/profile\")\n  .get()\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Authorization\", \"Bearer {{TOKEN}}\")\n  .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ]
      },
      "head": {
        "tags": [
          "Identity"
        ],
        "summary": "Profile query",
        "description": "Determine if a customer's profile exists by using their email address.",
        "operationId": "ProfileExists",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "The customer's email address.",
            "example": "noreply@kroger.com",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.noContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/APIError"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_email"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.notFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.identity.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ClientContext": [
              "profile.exists"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X HEAD \\\n  'https://api.kroger.com/v1/identity/profile?{{EMAIL}}' \\\n  -H 'Accept: application/json' \\\n  -H 'Authorization: Bearer {{TOKEN}}'\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/identity/profile?email={{EMAIL}}\"\n\n  req, _ := http.NewRequest(\"HEAD\", url, nil)\n\n  req.Header.Add(\"Accept\", \"application/json\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/identity/profile?email={{EMAIL}}\",\n  \"method\": \"HEAD\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Authorization\": \"Bearer {{TOKEN}}\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.kroger.com/v1/identity/profile?email={{EMAIL}}\")\n  .head()\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Authorization\", \"Bearer {{TOKEN}}\")\n  .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ]
      }
    },
    "/identity/profile/loyalty": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Profile loyalty information",
        "description": "Provides access to an authenticated customer's loyalty information. \n<br><br> **Note**: the customer must be authenticated using the OAuth2 Authorization \nCode grant type.\n",
        "operationId": "profileLoyaltyGet",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/identity.profileLoyaltyResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.notFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.identity.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "profile.loyalty"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X GET \\\n  'https://api.kroger.com/v1/identity/profile/loyalty' \\\n  -H 'Accept: application/json' \\\n  -H 'Authorization: Bearer {{TOKEN}}'\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/identity/profile/loyalty\"\n\n  req, _ := http.NewRequest(\"GET\", url, nil)\n\n  req.Header.Add(\"Accept\", \"application/json\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/identity/profile/loyalty\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Authorization\": \"Bearer {{TOKEN}}\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.kroger.com/v1/identity/profile/loyalty\")\n  .get()\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Authorization\", \"Bearer {{TOKEN}}\")\n  .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ]
      }
    },
    "/identity/profile/invoke/exists": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Profile query",
        "description": "Determine if a customer's profile exists by using their \nemail address.\n",
        "operationId": "ProfileInvokeExists",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "The customer's email address.",
            "example": "noreply@kroger.com",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.noContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/APIError"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_email"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.notFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.identity.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ClientContext": [
              "profile.exists"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X GET \\\n  'https://api.kroger.com/v1/identity/profile/invoke/exists?email={{EMAIL}}' \\\n  -H 'Accept: application/json' \\\n  -H 'Authorization: Bearer {{TOKEN}}' \n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/identity/profile/invoke/exists?email={{EMAIL}}\"\n\n  req, _ := http.NewRequest(\"GET\", url, nil)\n\n  req.Header.Add(\"Accept\", \"application/json\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/identity/profile/invoke/exists?email={{EMAIL}}\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Authorization\": \"Bearer {{TOKEN}}\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.kroger.com/v1/identity/profile/invoke/exists?email={{EMAIL}}\")\n  .get()\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Authorization\", \"Bearer {{TOKEN}}\")\n  .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ]
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Product search",
        "description": "Allows you to find products by passing in either a search term or product Id.\n\n### Initial Search Value Required\n\nAn initial search value is requred for all requests. You can use either of the following parameters as an initial search value: \n\n`filter.term` - When using the term parameter, the API performs a fuzzy search based on the term provided in the string. Search results are based on how relevant the term is to the product description.\n\n`filter.brand` - When using the brand parameter, the API performs a search based on the brand provided in the string. Search results only contain products that match the brand queried for.\n\n`filter.productId` - When using the productId parameter, the API performs a query to find an exact match.  \n",
        "operationId": "productGet",
        "parameters": [
          {
            "name": "filter.term",
            "in": "query",
            "description": "A search term to filter product results. As an example, you could input _milk_, _bread_, or _salt_. <br><br><b>Note</b> - Search terms are limited to a maximum of 8 words. Each new space in the search term denotes a new word.",
            "example": "milk",
            "schema": {
              "minLength": 3,
              "type": "string"
            }
          },
          {
            "name": "filter.locationId",
            "in": "query",
            "description": "The locationId of the location. When using this filter, only products available at that location are returned.",
            "example": "01400943",
            "schema": {
              "maxLength": 8,
              "minLength": 8,
              "type": "string"
            }
          },
          {
            "name": "filter.productId",
            "in": "query",
            "description": "The productId of the products(s) to return. For more than one item, the list must be comma-separated. When used, all other query parameters are ignored.",
            "example": "0001111060903",
            "schema": {
              "maxLength": 13,
              "minLength": 13,
              "type": "string",
              "maximum": 50
            }
          },
          {
            "name": "filter.brand",
            "in": "query",
            "description": "The brand name of the products to return. When using this filter, only products by that brand are returned. Brand names are case-sensitive, and lists must be pipe-separated.",
            "example": "Kroger",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.fulfillment",
            "in": "query",
            "description": "The available fulfillment types of the product(s) to return. Fulfillment types are case-sensitive, and lists must be comma-separated. Must be one or more of the follow types: <ul> <li> `ais` - Available In Store</li> <li> `csp` - Curbside Pickup</li> <li> `dth` - Delivery To Home</li> <li> `sth` - Ship To Home</li> </ui>",
            "schema": {
              "type": "string",
              "enum": [
                "ais",
                "csp",
                "dth",
                "sth"
              ]
            }
          },
          {
            "name": "filter.start",
            "in": "query",
            "description": "The number of products to skip.",
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "filter.limit",
            "in": "query",
            "description": "The number of products to return.",
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/products.productsPayloadModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/APIError"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_locationId"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_parameter"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_limit"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.products.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "product.personalized",
              "product.basic"
            ]
          },
          {
            "ClientContext": [
              "product.basic"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X GET \\\n  'https://api.kroger.com/v1/products?filter.brand={{BRAND}}&filter.term={{TERM}}&filter.locationId={{LOCATION_ID}}' \\\n  -H 'Accept: application/json' \\\n  -H 'Authorization: Bearer {{TOKEN}}'\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/products?filter.brand={{BRAND}}&filter.term={{TERM}}&filter.locationId={{LOCATION_ID}}\"\n\n  req, _ := http.NewRequest(\"GET\", url, nil)\n\n  req.Header.Add(\"Accept\", \"application/json\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/products?filter.brand={{BRAND}}&filter.term={{TERM}}&filter.locationId={{LOCATION_ID}}\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Authorization\": \"Bearer {{TOKEN}}\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.kroger.com/v1/products?filter.brand={{BRAND}}&filter.term={{TERM}}&filter.locationId={{LOCATION_ID}}\")\n  .get()\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Authorization\", \"Bearer {{TOKEN}}\")\n  .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ]
      }
    },
    "/products/{id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Product details",
        "description": "Provides access to the details of a specific product by either using the `productId` or `UPC`. To return the product price, availability, and aisle location, you must include the `filter.locationId` query parameter.",
        "operationId": "productGetID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/productId"
                },
                {
                  "$ref": "#/components/schemas/UPC"
                }
              ]
            }
          },
          {
            "name": "filter.locationId",
            "in": "query",
            "description": "The locationId of the location. When using this filter, only products available at that location are returned.",
            "example": "01400943",
            "schema": {
              "maxLength": 8,
              "minLength": 8,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/products.productPayloadModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/APIError"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_locationId"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_UPC"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.products.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "product.personalized",
              "product.basic"
            ]
          },
          {
            "ClientContext": [
              "product.basic"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X GET \\\n  'https://api.kroger.com/v1/products/{{ID}}?filter.locationId={{LOCATION_ID}}' \\\n  -H 'Accept: application/json' \\\n  -H 'Authorization: Bearer {{TOKEN}}'\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/products/{{ID}}?filter.locationId={{LOCATION_ID}}\"\n\n  req, _ := http.NewRequest(\"GET\", url, nil)\n\n  req.Header.Add(\"Accept\", \"application/json\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/products/{{ID}}?filter.locationId={{LOCATION_ID}}\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Authorization\": \"Bearer {{TOKEN}}\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.kroger.com/v1/products/{{ID}}?filter.locationId={{LOCATION_ID}}\")\n  .get()\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Authorization\", \"Bearer {{TOKEN}}\")\n  .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ]
      }
    },
    "/carts": {
      "get": {
        "tags": [
          "Carts"
        ],
        "summary": "User carts list",
        "description": "Provides access to return a list of all carts that belong to an authenticated customer.\n<br><br> **Note**: the customer must be authenticated using the OAuth2 Authorization \nCode grant type.\n",
        "operationId": "getCarts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/carts.cartsPayloadModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.cart.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "cart.basic"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X GET \\\n  'https://api.kroger.com/v1/carts' \\\n  -H 'Accept: application/json' \\\n  -H 'Authorization: Bearer {{TOKEN}}'\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/carts\"\n\n  req, _ := http.NewRequest(\"GET\", url, nil)\n\n  req.Header.Add(\"Accept\", \"application/json\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/carts\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Authorization\": \"Bearer {{TOKEN}}\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.kroger.com/v1/carts\")\n  .get()\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Authorization\", \"Bearer {{TOKEN}}\")\n  .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Carts"
        ],
        "summary": "Create a cart",
        "description": "Provides access to create a new cart for an authenticated customer.\n<br><br> **Note**: the customer must be authenticated using the OAuth2 Authorization \nCode grant type.\n",
        "operationId": "createCart",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/carts.cartRequestModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/carts.cartsPayloadModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/APIError"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_cart_exists"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_parameters"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_UPC"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_modality"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.cart.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "cart.basic:rw"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X POST \\\n  'https://api.kroger.com/v1/carts' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{TOKEN}}' \\\n  -d '{\n    \"items\": [\n        {\n            \"upc\": \"0001111041700\",\n            \"quantity\" : 1,\n            \"allowSubstitutes\" : true\n            \"specialInstructions\" : \"Bag separate from other groceries.\",\n            \"modality\":\"PICKUP\"\n        }\n    ]\n}\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"strings\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/carts\"\n\n  payload := strings.NewReader(\"{\\n    \\\"items\\\": [\\n        {\\n             \\\"upc\\\": \\\"0001111041700\\\",\\n             \\\"quantity\\\" : 1,\\n             \\\"allowSubstitutes\\\" : true\\n             \\\"specialInstructions\\\" : \\\"Bag separate from other groceries.\\\",\\n            \\\"modality\\\":\\\"PICKUP\\\"\\n        }\\n    ]\\n}\")\n\n  req, _ := http.NewRequest(\"POST\", url, payload)\n\n  req.Header.Add(\"Content-Type\", \"application/json\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/carts\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer {{TOKEN}}\"\n  },\n  \"data\": \"{\\n    \\\"items\\\": [\\n        {\\n             \\\"upc\\\": \\\"0001111041700\\\",\\n             \\\"quantity\\\" : 1,\\n             \\\"allowSubstitutes\\\" : true\\n             \\\"specialInstructions\\\" : \\\"Bag separate from other groceries.\\\",\\n            \\\"modality\\\":\\\"PICKUP\\\"\\n        }\\n    ]\\n}\"\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"text/plain\");\nRequestBody body = RequestBody.create(mediaType, \"{\\n    \\\"items\\\": [\\n        {\\n             \\\"upc\\\": \\\"0001111041700\\\",\\n             \\\"quantity\\\" : 1,\\n             \\\"allowSubstitutes\\\" : true\\n             \\\"specialInstructions\\\" : \\\"Bag separate from other groceries.\\\",\\n            \\\"modality\\\":\\\"PICKUP\\\"\\n        }\\n    ]\\n}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.kroger.com/v1/carts\")\n  .post(body)\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"Authorization\", \"Bearer {{TOKEN}}\")\n  .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ]
      }
    },
    "/carts/{id}": {
      "get": {
        "tags": [
          "Carts"
        ],
        "summary": "Cart by ID",
        "description": "Provides access to an authenticated customer's cart by ID.\n<br><br> **Note**: the customer must be authenticated using the OAuth2 Authorization \nCode grant type.\n",
        "operationId": "getCart",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The ID of the cart.",
              "example": "2b9b3963-5cac-42f8-9d28-7bebdec0b9e4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/carts.cartPayloadModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.notFound"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.cart.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "cart.basic"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X GET \\\n  'https://api.kroger.com/v1/carts/{{ID}}' \\\n  -H 'Accept: application/json' \\\n  -H 'Authorization: Bearer {{TOKEN}}'\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/carts/{{ID}}\"\n\n  req, _ := http.NewRequest(\"GET\", url, nil)\n\n  req.Header.Add(\"Accept\", \"application/json\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/carts/{{ID}}\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Authorization\": \"Bearer {{TOKEN}}\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.kroger.com/v1/carts/{{ID}}\")\n  .get()\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Authorization\", \"Bearer {{TOKEN}}\")\n  .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ]
      },
      "put": {
        "tags": [
          "Carts"
        ],
        "summary": "Update cart",
        "description": "Provides access to update an authenticated customer's cart by ID. This operation only updates items that are already in a customer's cart.\n<br><br> **Note**: the customer must be authenticated using the OAuth2 Authorization \nCode grant type.\n",
        "operationId": "putCart",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The ID of the cart.",
              "example": "2b9b3963-5cac-42f8-9d28-7bebdec0b9e4"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/carts.cartRequestModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/carts.cartsPayloadModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/APIError"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_UPC"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_modality"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_parameters"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.notFound"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.cart.notfFulfillable"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.cart.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "cart.basic:rw"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X PUT \\\n  'https://api.kroger.com/v1/carts/{{ID}}' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{TOKEN}}' \\\n  -d '{\n    \"items\": [\n        {\n            \"quantity\": 2,\n            \"upc\":  \"0004900005014\",\n            \"allowSubstitutes\" : true,\n            \"description\":\"\",\n            \"modality\":\"PICKUP\"\n        }\n  ]\n}\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"strings\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/carts/{{ID}}\"\n\n  payload := strings.NewReader(\"{\\n    \\\"items\\\": [\\n        {\\n            \\\"quantity\\\": 2,\\n            \\\"upc\\\":  \\\"0004900005014\\\",\\n            \\\"allowSubstitutes\\\" : true,\\n            \\\"description\\\":\\\"\\\",\\n            \\\"modality\\\":\\\"PICKUP\\\"\\n        }\\n   ]\\n}\")\n\n  req, _ := http.NewRequest(\"PUT\", url, payload)\n\n  req.Header.Add(\"Content-Type\", \"application/json\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/carts/{{ID}}\",\n  \"method\": \"PUT\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer {{TOKEN}}\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\n    \\\"items\\\": [\\n        {\\n            \\\"quantity\\\": 2,\\n            \\\"upc\\\":  \\\"0004900005014\\\",\\n            \\\"allowSubstitutes\\\" : true,\\n            \\\"description\\\":\\\"\\\",\\n            \\\"modality\\\":\\\"PICKUP\\\"\\n        }\\n   ]\\n}\"\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\n    \\\"items\\\": [\\n        {\\n            \\\"quantity\\\": 2,\\n            \\\"upc\\\":  \\\"0004900005014\\\",\\n            \\\"allowSubstitutes\\\" : true,\\n            \\\"description\\\":\\\"\\\",\\n            \\\"modality\\\":\\\"PICKUP\\\"\\n        }\\n   ]\\n}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.kroger.com/v1/carts/{{ID}}\")\n  .put(body)\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"Authorization\", \"Bearer {{TOKEN}}\")\n  .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ]
      }
    },
    "/carts/{id}/items": {
      "post": {
        "tags": [
          "Carts"
        ],
        "summary": "Add to cart",
        "description": "Provides access to add items to an authenticated customer's cart.\n<br><br> **Note**: the customer must be authenticated using the OAuth2 Authorization \nCode grant type.\n",
        "operationId": "postCartItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the cart.",
              "example": "2b9b3963-5cac-42f8-9d28-7bebdec0b9e4"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/carts.cartItemPostRequestModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/carts.cartsPayloadModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/APIError"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_UPC"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_modality"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_parameters"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.notFound"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.cart.notfFulfillable"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.cart.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "cart.basic:rw"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X POST \\\n  'https://api.kroger.com/v1/carts/{{ID}}/items' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{TOKEN}}' \\\n  -d '{\n  \"quantity\": 3,\n    \"upc\": \"0004900005012\",\n    \"allowSubstitutes\" : true,\n    \"specialInstructions\" : \"add item\",\n    \"modality\":\"PICKUP\"\n}\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"strings\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/carts/{{ID}}/items\"\n\n  payload := strings.NewReader(\"{\\n\\t\\\"quantity\\\": 3,\\n    \\\"upc\\\": \\\"0004900005012\\\",\\n    \\\"allowSubstitutes\\\" : true,\\n    \\\"specialInstructions\\\" : \\\"add item\\\",\\n    \"modality\":\"PICKUP\"\n}\"\\n)\n\n  req, _ := http.NewRequest(\"POST\", url, payload)\n\n  req.Header.Add(\"Content-Type\", \"application/json\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/carts/{{ID}}/items\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer {{TOKEN}}\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\n\\t\\\"quantity\\\": 3,\\n    \\\"upc\\\": \\\"0004900005012\\\",\\n    \\\"allowSubstitutes\\\" : true,\\n    \\\"specialInstructions\\\" : \\\"add item\\\",\\n    \\\"modality\\\":\\\"PICKUP\\\"\\n}\\\"\\n}\"\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
          },
          {
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\n\\t\\\"quantity\\\": 3,\\n    \\\"upc\\\": \\\"0004900005012\\\",\\n    \\\"allowSubstitutes\\\" : true,\\n    \\\"specialInstructions\\\" : \\\"add item\\\",\\n    \\\"modality\\\":\\\"PICKUP\\\"\\n}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.kroger.com/v1/carts/{{ID}}/items\")\n  .post(body)\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"Authorization\", \"Bearer {{TOKEN}}\")\n  .build();\n\nResponse response = client.newCall(request).execute();\n"
          }
        ]
      }
    },
    "/carts/{id}/items/{upc}": {
      "put": {
        "tags": [
          "Carts"
        ],
        "summary": "Updates item quantity",
        "description": "Provides access to update the quantity of an item in an authenticated customer's cart.\n<br><br> **Note**: the customer must be authenticated using the OAuth2 Authorization \nCode grant type.\n",
        "operationId": "putCartItem",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The ID of the cart.",
              "example": "2b9b3963-5cac-42f8-9d28-7bebdec0b9e4"
            }
          },
          {
            "name": "upc",
            "in": "path",
            "required": true,
            "schema": {
              "maxLength": 13,
              "minLength": 13,
              "type": "string",
              "description": "The UPC of the item.",
              "example": "0001111041700"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/carts.cartItemPutRequestModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.noContent"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/APIError"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_UPC"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_modality"
                    },
                    {
                      "$ref": "#/components/schemas/Invalid_parameters"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.notFound"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.cart.notfFulfillable"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError.cart.serverError"
                }
              }
            }
          }
        },
        "security": [
          {
            "CustomerContext": [
              "cart.basic:rw"
            ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl -X PUT \\\n  'https://api.kroger.com/v1/carts/{{ID}}/items/{{UPC}}' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer {{TOKEN}}' \\\n  -d '{\n  \"quantity\": 20\n}\n"
          },
          {
            "lang": "Go",
            "source": "package main\n\nimport (\n  \"fmt\"\n  \"strings\"\n  \"net/http\"\n  \"io/ioutil\"\n)\n\nfunc main() {\n\n  url := \"https://api.kroger.com/v1/carts/{{ID}}/items/{{UPC}}\"\n\n  payload := strings.NewReader(\"{\\n  \\\"quantity\\\": 20\\n}\")\n\n  req, _ := http.NewRequest(\"PUT\", url, payload)\n\n  req.Header.Add(\"Content-Type\", \"application/json\")\n  req.Header.Add(\"Authorization\", \"Bearer {{TOKEN}}\")\n\n  res, _ := http.DefaultClient.Do(req)\n\n  defer res.Body.Close()\n  body, _ := ioutil.ReadAll(res.Body)\n\n  fmt.Println(res)\n  fmt.Println(string(body))\n\n}\n"
          },
          {
            "lang": "JavaScript",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.kroger.com/v1/carts/{{ID}}/items/{{UPC}}\",\n  \"method\": \"PUT\",\n  \"headers\": {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer {{TOKEN}}\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\n  \\\"quantity\\\": 20\\n}\"\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});\n"
[...]
